<center>
<script src= "/js/getdate.js"> 
</script>
<p id="date"> </p>
<head>
<title> Chris's Name Game</title>
<link href="<%= url('/css/main.css') %>" rel= "stylesheet" type="text/css" />
</head>
<body>
<br>
Welcome to Chris's Name Game
<br>
<%
name_hash = {"Tricia" => "Tricia Hoover", "Christi" => "Christi Richmond", "Jim" => "Jim Fedders", 
    	"Chris" => "Chris Phillips", "Tyler" => "Tyler Manspile", "Doug" => "Doug Meador"}
%>
<br><br><br>
<img alt="NameGame" src="/img/namegame.jpg" width="238" height="212" />
<br>
<form method="post" action="name_choice">
    <input type="text"  name="fname">
    <br>
    <br>
    <input type="submit">
    <br>
    <br>
</center>
</body>
</form>
<script>
	window.onload=getOrderDate('date');
</script>