<head>
<link href="/css/main.css" rel="stylesheet">
<title>
Name Game
</title>
</head>

<body>
	<div class = "center-body">	
		<%= yield %>
	</div>
</body>


<footer>
	<div class="footer-text"> 
		Enjoy the Name Game
		<br>
		January 2018
	</div>
</footer>

