<center>
<script src= "/js/getdate.js"> 
</script>
<p id="date"> </p>
<head>
<title>Name Game</title>
<link href="<%= url('/css/main.css') %>" rel= "stylesheet" type="text/css" />
</head>
<body>
<img  alt="heart2" src="/img/heart2.png" align="left" width="297" height="276">
<img  alt="heart4" src="/img/heart4.png" align="right" width="297" height="276">	
<br>
The name you are looking for is:
<br>
<br>
<% full_name = fname(fname.capitalize)
if full_name == nil
full_name = "This name is not listed"
end %>
<%= full_name %>
<br>
<img alt="elvis" src="/img/elvis.jpg" width="275" height="183" />
<br>
<br>
<br>
<br>
Try another name
<a href='//localhost:4567'>Go!</a>
<br>
<br>
<br>
<br>
<img alt="heart1" src="/img/heart1.png"  align="left" width="297" height="276">
<img alt="heart3" src="/img/heart3.png"  align="right" width="297" height="276">
</center>
</body>
</form>
<script>
window.onload=getOrderDate('date');
</script>